<h1>Create a Post</h1>

<form class="" action="/posts" method="post">

  <p>
    <input type="text" name="post[name]" value="">
  </p>
  <p>
    <input type="text" name="post[content]" value="">
  </p>
  <input type="submit" name="submit" value="submit">

</form>
